* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.main-landing {
    display: flex;
    height: 100vh;
}

.wht-block {
    padding-top: 50px;
    padding-left: 50px;
    width: 50vw;
    background-color: white !important;;
}

.wht-block .blc-img img {
    width: 75px;
    height: 75px;
}

.blc-block {
    padding-top: 50px;
    padding-right: 50px;
    width: 50vw;
    background-color: black !important;
}

.blc-block .wht-img img {
    width: 75px;
    height: 75px;
}

.blc-block .wht-img {
    display: flex;
    justify-content: end;
}

#central-text {
    margin-left: 2.5px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: black 0px 0px 20px, white 0px 0px 20px; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#central-text span {
    font-size: 102px;
    font-weight: 500;
}

#central-text #black {
    text-shadow: black 1px 1px 20px;
    color: #000000 !important;
}

#central-text #black-and-white {
    background: conic-gradient(from 0.5turn at 50% 0%, #000000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#central-text #white {
    text-shadow: white 1px 1px 20px;
    color: #ffffff !important;
}

#text-white-side {
    position: absolute;
    top: 10%;
}

#text-black-side {
    position: absolute;
    bottom: 0;
}

.about-me {
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.about-system {
    position: absolute;
    top: 60%;
    left: 10%;
}

.about-me a:hover {
    color: rgba(255, 255, 255, 0.677) !important;
}

.hospital-name {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 54px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}